<nav class="navbar navbar-inverse navbar-fixed-top">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Flight-App</a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="flightBooking.flightSearch">Flight Booking</a>  </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div ui-view></div>

</div>

